---
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions';
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';

import alpineInitUrl from '../scripts/alpine-init.ts?url';

interface Props {
  description: string;
  title: string;
  bgFill?: string;
  bgFillDark?: string;
  bgClass?: string; // optional Tailwind classes e.g. "bg-stone-50 dark:bg-slate-900"
}

const { description, title, bgFill, bgFillDark = '', bgClass } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en" x-cloak x-data :class="{ 'dark': $store.theme.isDark }">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="/tailwind.css" />
    <!-- Cabinet Grotesk -->
    <link
      rel="preload"
      href="/fonts/cabinet-grotesk/CabinetGrotesk-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/cabinet-grotesk/CabinetGrotesk-Black.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <!-- IBM Plex Sans -->
    <link
      rel="preload"
      href="/fonts/ibm-plex-sans/IBMPlexSans-Regular-Latin1.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-sans/IBMPlexSans-Italic-Latin1.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-sans/IBMPlexSans-Bold-Latin1.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-sans/IBMPlexSans-BoldItalic-Latin1.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="bg-white text-black dark:bg-darkerblack dark:text-white antialiased transition"
  >
    <Header 
      bgFill={bgFill}
      bgFillDark={bgFillDark}
      bgClass={bgClass}
    />
    <main>
      <slot />
    </main>
    <Footer />
    <style is:global>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <script type="module" src={alpineInitUrl}></script>
  </body>
</html>
